.game-container {
  width: 100%;
  max-width: 1200px;
  padding: 5 10px;
  margin: 30px auto;
}

.game-container header {
  display: flex;
  align-items: center;
}

.game-container header button {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 1pz solid #DCDCE6;
  background-color: green;
  margin-left: 16px;
  transition: border-color 0.5s;
}

.game-container header button:hover {
  border-color: #510bac;
}

table, th, td {
  border: 1px solid black;
}